- form_for @changeset, @action, fn f ->
  = hidden_input f, :item_id
  .section
    .container
      .row
        .input-field.col.s12.m4
          = select f, :language_id, @languages
          = label f, :language_id
        .input-field.col.s12.m10.offset-m1
          = text_input f, :title, class: "validate", type: "text"
          = label f, :title
          = error_tag f, :title
        .switch.col.s12.center-align
          %label
            = "Off"
            = checkbox f, :active
            %span.lever
            = "On"

  .section
    .form-group.center-align
      = submit "Submit", class: "btn-large waves-effect waves-light teal accent-4"
