%nav.top-nav.z-depth-0.nav-extended.color-banner
  .nav-wrapper.valign-wrapper
    %h4.title.color-title= "Cards"
    -# - link to: card_path(@conn, :new), class: "btn-floating btn-large halfway-fab waves-effect waves-light color-btn-action" do
    -#   %i.material-icons= "add"

.container
  .row
    .section
      = render "import_form.html", changeset: @changeset, action: import_cards_path(@conn, :import)
    .section
      = # Place for queries search
  .row
    .section
      %table.bordered.responsive-table
        %tr
          %th.center-align.color-text= "ID"
          %th.center-align.color-text= "Item"
          %th.center-align.color-text= "Item ID"
          %th.center-align.color-text= "Item status"
          %th.center-align.color-text= "Language"
          %th.center-align.color-text= "Title"
          %th.center-align.color-text= "Nb active packs"
          %th.center-align.color-text= "Active"
          %th.center-align.color-text= "Actions"
        - for card <- @cards do
          %tr
            %td.center-align.color-text= card.id
            %td.center-align.color-text= card.item.title
            %td.center-align.color-text= card.item.id
            %td.center-align
              - if card.item.active == true do
                %i.material-icons.green-text.darken-4= "check_circle"
              - else
                %i.material-icons.red-text.darken-4= "cancel"
            %td.full_center
              = img_tag static_path(@conn, "/images/flags/4x3/#{card.language.iso2code}.svg"), class: "flag"
            %td.center-align.color-text= card.question
            %td.center-align.color-text= Enum.count(card.item.packitems)
            %td.center-align
              - if card.active == true do
                %i.material-icons.green-text.darken-4= "check_circle"
              - else
                %i.material-icons.red-text.darken-4= "cancel"
            %td.center-align
              - link to: card_path(@conn, :edit, card), class: "waves-effect waves-light marged" do
                %i.material-icons.color-icon-edit= "edit"
              - link to: card_path(@conn, :delete, card), method: :delete, data: [confirm: "Are you sure?"], class: "waves-effect waves-light marged" do
                %i.material-icons.color-icon-false= "delete_forever"

  .row
    = pagination_link(@conn, @rummage)
