-# .container
-#   .row
-#     .col.s12
.footer-copyright.box-inline-between.hide-on-small-only
  %span.box-inline
    = render EverlearnWeb.SharedView, "_logo.html", assigns
    %span= "© Everlearn #{DateTime.utc_now.year}"
  %span.box-inline
    %i.material-icons= "account_circle"
    = "bitocreator@gmail.com"
.footer-copyright.box-inline.hide-on-med-and-up
  %span
    = render EverlearnWeb.SharedView, "_logo.html", assigns
