%header
  %nav
    .nav-wrapper
      = link "Everlearn", to: page_path(@conn, :index)
      %ul.right.right.hide-on-med-and-down{id: "nav-mobile"}
        %li= link "Classrooms", to: classroom_path(@conn, :index)
        %li= link "Topics", to: topic_path(@conn, :index)
        %li= link "Items", to: item_path(@conn, :index)
        %li= link "Cards", to: card_path(@conn, :index)
        %li= link "Packs", to: pack_path(@conn, :index)
        %li= link "Memories", to: memory_path(@conn, :index)
        - if @conn.assigns[:user] do
          %li= link "Log out", to: auth_path(@conn, :delete), method: :delete
        - else
          %li= link "Log in with google", to: auth_path(@conn, :request, "google")
