%nav.transparent.sidebar-nav
  .nav-wrapper.box-inline-even
    = render EverlearnWeb.SharedView, "_logo.html", assigns
%section
  .row
    .box-inline.title
      -# %i.material-icons= "settings"
      %span="Customize your lesson"
    - for classroom <- @slidebars.slidebar do
      - for membership <- classroom.memberships do
        %ul.collection.with-header.hide{id: "membership_#{membership.id}", data-collapsible: "accordion"}
          - if membership.languages.teacher_lg.language_id != membership.languages.student_lg.language_id do
            %a.collection-item.sidebar2_btn{data-learning_mode: "question_or_answer"}
              %li
                .flags
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.teacher_lg.iso2code}.svg"), class: "flag"
                  %i.material-icons.color-icon-edit= "code"
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.student_lg.iso2code}.svg"), class: "flag"
            %a.collection-item.sidebar2_btn{data-learning_mode: "question"}
              %li
                .flags
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.teacher_lg.iso2code}.svg"), class: "flag"
                  %i.material-icons.color-icon-edit= "arrow_forward"
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.student_lg.iso2code}.svg"), class: "flag"
            %a.collection-item.sidebar2_btn{data-learning_mode: "answer"}
              %li
                .flags
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.student_lg.iso2code}.svg"), class: "flag"
                  %i.material-icons.color-icon-edit= "arrow_forward"
                  = img_tag static_path(@conn, "/images/flags/4x3/#{membership.languages.teacher_lg.iso2code}.svg"), class: "flag"
            -# %a.collection-item.sidebar2_membership_btn{data-learning_mode: "sound"}
            -#   %li
            -#     %i.material-icons.color-icon-edit= "play_circle_outline"
          - else
            %a.collection-item.sidebar2_btn{data-learning_mode: "question_or_answer"}
              %li
                %span.side-option= "Question"
                %i.material-icons.color-icon-edit= "code"
                %span.side-option= "Answer"
            %a.collection-item.sidebar2_btn{data-learning_mode: "question"}
              %li
                %span.side-option= "Question"
                %i.material-icons.color-icon-edit= "arrow_forward"
                %span.side-option= "Answer"
            %a.collection-item.sidebar2_btn{data-learning_mode: "answer"}
              %li
                %span.side-option= "Answer"
                %i.material-icons.color-icon-edit= "arrow_forward"
                %span.side-option= "Question"
          %a.collection-item{id: "call-api"}
            %li
              %i.material-icons.caption-icon= "cloud_upload"
              %span.side-option="Synchronize your datas"
