%nav.transparent.sidebar-nav
  .nav-wrapper.box-inline-even
    = render EverlearnWeb.SharedView, "_logo.html", assigns
%section
  .row
    .box-inline.title
      -# %i.material-icons= "school"
      %span="Choose your lesson"
    %ul.collapsible{data-collapsible: "accordion"}
      - for classroom <- @slidebars.slidebar do
        %li
          .collapsible-header
            %i.material-icons= "school"
            %span.side-option= classroom.title
            %span.new.badge{data-badge-caption: "lists"}= length(classroom.memberships)
          .collapsible-body
            %ul.collection
              - for membership <- classroom.memberships do
                %a.collection-item.sidebar1_btn{data-classroom_id: "#{classroom.id}", data-membership_id: "#{membership.id}"}
                  %li
                    = img_tag static_path(@conn, "/images/flags/1x1/#{membership.languages.teacher_lg.iso2code}.svg"), class: "flag"
                    %span.side-option= membership.title
                    %span.span.new.badge{data-badge-caption: "cards"}= membership.nb_cards
