- case @status do
  - -1 ->
    %i.material-icons.red-text.darken-4= "highlight_off"
  - 0 ->
    %i.material-icons.grey-text.darken-4= "favorite"
  - 1 ->
    %i.material-icons.orange-text.darken-4= "favorite"
  - 2 ->
    %i.material-icons.green-text.darken-4= "favorite"
  - 3 ->
    %i.material-icons.green-text.darken-1= "favorite"
