.box-inline
  .player.card
    .header.box-inline-between
      .center-align
        %a.button-collapse{id: "btn_slidebar_left" href: "#" data-activates: "slidebar_player_left"}
          %i.material-icons= "menu"
      .center-align
        %span.logo
          %i.material-icons= "school"
          ="Everlearn"
      .center-align
        %a.button-collapse{id: "btn_slidebar_right" href: "#" data-activates: "slidebar_player_right"}
          %i.option.material-icons= "settings"
    .title.center-align
      %h4{id: "classroom_title"}
      %h5{id: "membership_title"}
    .progress-bar
      .progress-item.green.accent-3{id: "level3_share"}
      .progress-item.green.lighten-3{id: "level2_share"}
      .progress-item.cyan.lighten-3{id: "level1_share"}
      .progress-item.grey.lighten-2{id: "level0_share"}
      .progress-item.grey.darken-2{id: "levelminus1_share"}
    .slides.center-align
      - for i <- [0, 1, 2] do
        .slides-item{id: "slide_#{i}"}.box-inline
          .question
            %h3.asked
          .answer.hide
            %h4.card_question
            %h4.card_answer
            -# %h4.card_phonetic
    .buttons.box-inline-even
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-renew"}
          %i.material-icons= "autorenew"
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-cancel"}
          %i.material-icons= "not_interested"
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-known"}
          %i.material-icons= "check_circle"
