.box-inline
  .player.card
    .header.box-inline-between
      .center-align
        %a.button-collapse{id: "btn_slidebar_left" href: "#" data-activates: "slidebar_player_left"}
          %i.material-icons= "menu"
      .center-align
        %span.logo
          %i.material-icons= "school"
          ="Everlearn"
      .center-align.box-inline-even
        .sync
          %i.option.material-icons.ok= "sync"
          %i.option.material-icons.nok.hide= "sync_disabled"
          %i.option.material-icons.pb.hide= "sync_problem"
        %a.button-collapse{id: "btn_slidebar_right" href: "#" data-activates: "slidebar_player_right"}
          %i.option.material-icons= "settings"

    .title.center-align
      %h4{id: "classroom_title"}
      %h5{id: "membership_title"}
    = render EverlearnWeb.SharedView, "_progress_bar.html", bar_name: "player_bar"
    .slides.center-align
      .slide-item.box-inline
        .question
          %h3.asked
        .answer.hide
          %h4.card_question
          %h4.card_answer
          -# %h4.card_phonetic
    .buttons.box-inline-even
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-renew"}
          %i.material-icons= "autorenew"
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-warning"}
          %i.material-icons= "announcement"
      .center-align
        %a.btn-large.waves-effect.waves-light.btn{id: "btn-known"}
          %i.material-icons= "check_circle"
