!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title= 'Welcome to Everlean !'
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    %link(rel="stylesheet" href='https://fonts.googleapis.com/icon?family=Material+Icons')

  %body{data-js-view-name: "#{js_view_name(@conn, @view_template)}"}
    - unless @conn.request_path =~ "/player" do
      %header
        = render EverlearnWeb.SharedView, "_header.html", conn: @conn
    %main
      = render @view_module, @view_template, assigns
    - unless @conn.request_path =~ "/player" do
      %footer.page-footer
        = render EverlearnWeb.SharedView, "_footer.html", conn: @conn

    - if @conn.request_path =~ "/player" do
      = render EverlearnWeb.SharedView, "_sidebar_player_left.html", assigns
      = render EverlearnWeb.SharedView, "_sidebar_player_right.html", assigns
    - else
      = render EverlearnWeb.SharedView, "_sidebar_left.html", assigns

    -# Carefull the order of files !
    = render_gon_script(@conn)
    %script(src='#{static_path(@conn, "/js/app.js")}')
    = Drab.Client.js(@conn)
    = raw(@conn.assigns.flash_messages)
