!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title= 'Welcome to Everlean !'
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    %link(rel="stylesheet" href='https://fonts.googleapis.com/icon?family=Material+Icons')

  %body
    = render EverlearnWeb.SharedView, "_header.html", conn: @conn
    = render EverlearnWeb.SharedView, "_flash.html", conn: @conn
    %main
      = render @view_module, @view_template, assigns
    = render EverlearnWeb.SharedView, "_footer.html", conn: @conn
    %script(src='#{static_path(@conn, "/js/app.js")}')
    =# render_gon_script(@conn)
    = Drab.Client.js(@conn)
