.card-content
  %span.card-title.center-align.big-bold.truncate= @item.title
  %span= @item.kind.title
  .flags
    - for card <- @item.cards do
      = img_tag static_path(@conn, "/images/flags/1x1/#{card.language.iso2code}.svg"), class: "flag_small"
- link to: item_path(@conn, :show, @item), class: "btn-round item-link",target: "_blank" do
  %i.material-icons= "remove_red_eye"
