- form_for @changeset, @action, fn f ->
  .row
    .input-field.col.s12.m4
      = select f, :level, @levels
      = label f, :level
    .switch.box-inline-even.col.s12.m4
      %label
        = "Off"
        = checkbox f, :active
        %span.lever
        = "On"
    .input-field.col.s12
      = text_input f, :title, class: "validate", type: "text"
      = label f, :title
      = error_tag f, :title
    .input-field.col.s12
      = text_input f, :description, class: "validate", type: "text"
      = label f, :description
      = error_tag f, :description
  .row
    .form-group.center-align
      = submit "Submit", class: "btn-large waves-effect waves-light btn-action"
