= render EverlearnWeb.SharedView, "_title-nav.html", assigns
.container
  .section
    = render "item_search_form.html", conn: @conn, pack: @pack, levels: @levels, active: @active, topics: @topics, kinds: @kinds, packitemlinks: @packitemlinks
    .search_results.box-inline
      %h5= "#{Enum.count(@items)}items found"
      - link to: pack_pack_path(@conn, :add_items_showed_from_pack, @pack, rummage: @rummage), class: "btn margin waves-effect waves-light" do
        %i.material-icons= "add"
      - link to: pack_pack_path(@conn, :remove_items_showed_from_pack, @pack, rummage: @rummage), class: "btn margin waves-effect waves-light" do
        %i.material-icons= "remove"
  .section
    .row
      - for item <- @items do
        .col.s6.m4.l3.xl2
          %a{drab-click: "toogle_item_pack", data-item-id: "#{item.id}", data-pack-id: "#{@pack.id}"}
            - if length(item.packitems) > 0 do
              .card.item-card.selected{id: "#{item.id}"}
                = render "_item_card.html", item: item
            - else
              .card.item-card{id: "#{item.id}"}
                = render "_item_card.html", item: item
