- form_for @changeset, @action, fn f ->
  .row
    .input-field.col.s12.m4.offset-m4
      = select f, :classroom_id, @classrooms
      = label f, :classroom_id
    .input-field.col.s12
      = text_input f, :title, class: "validate", type: "text"
      = label f, :title
      = error_tag f, :title
  .row
    .form-group.center-align
      = submit "Submit", class: "btn-large waves-effect waves-light btn-action"
