.row.valign-wrapper
  .col.s12.m10
    %h3= "Topics"
  .col.s12.m2.center-align
    - link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light blue valign-wrapper center-align" do
      %i.material-icons= "add"

.row
  %table.bordered.responsive-table
    %tr
      %th.center-align= "Title"
      %th.center-align= "Classroom"
      %th.center-align= "Nb items"
      %th.center-align= "Nb packs"
      %th.center-align= "Actions"
    = for topic <- @topics do
      %tr
        %td.center-align= topic.title
        %td.center-align= topic.classroom.title
        %td.center-align= ""
        %td.center-align= ""
        %td.center-align
          - link to: topic_path(@conn, :edit, topic), class: "waves-effect waves-light marged" do
            %i.material-icons.indigo-text.darken-4= "remove_red_eye"
          - link to: topic_path(@conn, :edit, topic), class: "waves-effect waves-light marged" do
            %i.material-icons.blue-grey-text.darken-4= "edit"
          - link to: topic_path(@conn, :delete, topic), method: :delete, data: [confirm: "Are you sure?"], class: "waves-effect waves-light marged" do
            %i.material-icons.red-text.accent-4= "delete_forever"
