-# <%= form_for @changeset, @action, fn f -> %>
-#   <%= if @changeset.action do %>
-#     <div class="alert alert-danger">
-#       <p>Oops, something went wrong! Please check the errors below.</p>
-#     </div>
-#   <% end %>
-#
-#   <div class="form-group">
-#     <%= label f, :kind, class: "control-label" %>
-#     <%= text_input f, :kind, class: "form-control" %>
-#     <%= error_tag f, :kind %>
-#   </div>
-#
-#   <div class="form-group">
-#     <%= label f, :title, class: "control-label" %>
-#     <%= text_input f, :title, class: "form-control" %>
-#     <%= error_tag f, :title %>
-#   </div>
-#
-#   <div class="form-group">
-#     <%= label f, :description, class: "control-label" %>
-#     <%= text_input f, :description, class: "form-control" %>
-#     <%= error_tag f, :description %>
-#   </div>
-#
-#   <div class="form-group">
-#     <%= label f, :active, class: "control-label" %>
-#     <%= checkbox f, :active, class: "checkbox" %>
-#     <%= error_tag f, :active %>
-#   </div>
-#
-#   <div class="form-group">
-#     <%= submit "Submit", class: "btn btn-primary" %>
-#   </div>
-# <% end %>

- form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p= "Oops, something went wrong! Please check the errors below"

  .field
    %p.control.has-icons-left
      = select f, :topic_id, @topics, class: "select"
  .field
    %p.control.has-icons-left
      = select f, :kind, @kinds, class: "select"
  .field
    %p.control.has-icons-left
      = text_input f, :title, class: "input", placeholder: "Title"
      = error_tag f, :title
      %span.icon.is-small.is-left
        =# fa_icon("pencil")
  .field
    %p.control.has-icons-left
      = text_input f, :description, class: "input", placeholder: "Description"
      = error_tag f, :description
      %span.icon.is-small.is-left
        =# fa_icon("pencil")
  .field.has-text-centered
    - submit class: "button is-medium is-success is-outlined" do
      %span.icon
        =# fa_icon("check")
      %span= "Save"
