- form_for @changeset, @import_action, [multipart: true], fn f ->
  .row
    .col.s12.m3
      .input-field
        = select f, :classroom_id, @classrooms
        = label f, :classroom_id
    .col.s12.m5
      .input-field.file-field
        .btn.import-file
          -# %span= "File.csv"
          = file_input f, :file, class: "validate", required: ""
        .file-path-wrapper
          = text_input f, :title, class: "file-path validate", placeholder: "File.csv"
    .col.s12.m4
      =# submit "Upload items", class: "btn-large waves-effect waves-light btn-action"
      %a.btn-large.waves-effect.waves-light.btn-action{type: "submit", name:"action"}
        %i.material-icons.right="cloud_upload"
        = "Upload items"
