= render EverlearnWeb.SharedView, "_title-nav.html", assigns
.container
  .section
    = render "import_form.html", assigns
  .section
    = render "search_form.html", assigns
    .search_results.box-inline
      %h5= "#{Enum.count(@items)}items found"
      - link to: export_items_path(@conn, :export_items, rummage: @rummage), class: "btn margin waves-effect waves-light" do
        %i.material-icons= "cloud_download"
  .section
    %table.bordered.responsive-table
      %tr
        %th= "ID"
        %th= "Kind"
        %th= "Title"
        %th= "Classroom"
        %th= "Topic"
        %th= "Level"
        %th= "Nb active packs"
        %th= "Nb active cards"
        %th= "Active"
        %th= "Alert"
        %th= "Actions"
      - for item <- @items do
        %tr
          %td= item.id
          %td= item.kind.title
          %td= item.title
          %td= item.classroom.title
          %td= item.topic.title
          %td= render EverlearnWeb.SharedView, "_level.html", level: item.level
          %td= length(item.packs)
          %td= length(item.cards)
          %td= render EverlearnWeb.SharedView, "_active.html", active: item.active
          %td= render EverlearnWeb.SharedView, "_alert.html", nb_alerts: Enum.count(item.cards, &(&1.nb_alert > 0))
          %td.box-inline-even
            - link to: item_card_path(@conn, :new, item) do
              %i.material-icons= "add_circle"
            - link to: item_path(@conn, :show, item) do
              %i.material-icons= "remove_red_eye"
            - link to: item_path(@conn, :edit, item) do
              %i.material-icons= "edit"
            - link to: item_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"] do
              %i.material-icons.color-danger= "delete_forever"
