%nav.top-nav.z-depth-0.nav-extended.color-banner
  .nav-wrapper.valign-wrapper
    %h4.title.color-title= "Items"
    - link to: item_path(@conn, :new), class: "btn-floating btn-large halfway-fab waves-effect waves-light color-btn-action" do
      %i.material-icons= "add"

.container
  .row
    .section
      = render CardView, "import_form.html", changeset: @changeset, topics: @topics, action: import_card_path(@conn, :import)
    .section
      = # Place for queries search
  .row
    .section
      %table.bordered.responsive-table
        %tr
          %th.center-align.color-text= "Title"
          %th.center-align.color-text= "Classroom"
          %th.center-align.color-text= "Topic"
          %th.center-align.color-text= "Group"
          %th.center-align.color-text= "Level"
          %th.center-align.color-text= "Nb packs"
          %th.center-align.color-text= "Nb cards"
          %th.center-align.color-text= "Description"
          %th.center-align.color-text= "Active"
          %th.center-align.color-text= "Actions"
        - for item <- @items do
          %tr
            %td.center-align.color-text= item.title
            %td.center-align.color-text= item.topic.classroom.title
            %td.center-align.color-text= item.topic.title
            %td.center-align.color-text= item.group
            %td.center-align.color-text= item.level
            %td.center-align.color-text= Enum.count(item.packitems)
            %td.center-align.color-text= 'to do'
            %td.center-align.color-text= item.description
            %td.center-align
              - if item.active == true do
                %i.material-icons.green-text.darken-4= "check_circle"
              - else
                %i.material-icons.red-text.darken-4= "cancel"
            %td.center-align
              - link to: item_path(@conn, :edit, item), class: "waves-effect waves-light marged" do
                %i.material-icons.color-icon-edit= "edit"
              - link to: item_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "waves-effect waves-light marged" do
                %i.material-icons.color-icon-false= "delete_forever"

  .row
    = pagination_link(@conn, @rummage)
